
body {		
	background-image: url("Images/back.jpg");
}

.tag{
     background-color: whitesmoke;
     opacity: 15%;
     padding-top: 735px;
     margin:0 auto;
     text-align: center;

}

.topnav{
	opacity: 100%;
	background-color: lightblue;
	overflow: hidden;
	margin: 0 auto;
	size: 20px 20px;
}

.topnav a{
	float: right;
	color: whitesmoke;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav	a:hover {
	background-color: skyblue;
	color: white;
}
.topnav a:active{
	background-color: whitesmoke;
	color: dimgray;
}
.uvod {
	margin: 0 auto;
	text-align: center;
	background-color: skyblue;		
	opacity: 0.9;
	border: solid 2px black;
}
.font {
    font-size: 40px;
    font-family: inherit;
    padding-left: 15px;
    padding-top: 3px;
    text-shadow: 2px 3px gray;
    letter-spacing: 3px;

}

.ikona {
	float: ;
}
.opis {
	padding-left: 15px;
	padding bottom: 10px;
}
.font2 {
	font-size: 20px;
	font-family: initial;
	padding-left: 15px;
	padding-top: 3px;;
	letter-spacing: 3px;
} 
